    .SiteFooter {
        background-image: url(../../aces/Img/Footer\ BG-2.png);
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 5%;
    }

    .SiteFootersetup{
        width: 80%;
        margin: auto;
    }
    
    .SiteFooterone {
        display: flex;
        color: white;
        justify-content: space-between;
        padding-top: 180px;
        flex-wrap: wrap;
        
    }
    
    .Sidebar h6 {
        padding-bottom: 6%;
        margin: 0;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        letter-spacing: 0.1em;
        color: #FFFFFF;
    }

    .Sidebar{
        width: 217px;
    }

    .Sidebaronenumber{
        width: 217px;
    }

    .Sidebaronenumber h6 {
        padding-bottom: 9%;
        margin: 0;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        letter-spacing: 0.1em;
        color: #FFFFFF;
    }

    .Sidebaronenumber ul{
        list-style: none;
        padding: 0;
    }

    .Sidebaronenumber ul li a {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        /* identical to box height */
        letter-spacing: 0.1em;
        color: #D7DBFF;
        padding-left: 3%;
    }

    .Sidebaronenumber ul li svg{
        fill: currentcolor;
        width: 15px;
    height: 15px
    }
    
    
    .Sidebar ul {
        list-style: none;
        padding: 0;
    }
    
    .Sidebar ul li a {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        /* identical to box height */
        letter-spacing: 0.1em;
        color: #D7DBFF;
        padding-left: 3%;
    }
    
    .Sidebar1 h6 {
       
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        letter-spacing: 0.1em;
        color: #D7DBFF;
        padding-left: 5%;
    }


    .Sidebar1{
        width: 600px;
        padding-top: 1%;
    }

    .Sidebarnew{
        margin-bottom: 2%;
    }
    
    .Sidebar1 span {
        
        font-family: 'Poppins';
        font-style: italic;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.1em;
        color: #D7DBFF;
        padding-left: 5%;
    }

    .Sidebarspan{
        padding-left: 7%;
    }
    
    .SiteFooterend {
        display: flex;
        margin-top: 10%;
        align-items: center;
        justify-content: space-between;
    }
    
    .SiteFooterend div img {
        width: 21.88px;
        height: 24.88px;
        padding: 20px;
    }
    
    .SiteFooterend p {
        width: 497px;
        height: 31.18px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-align: right;
        letter-spacing: 0.1em;
        color: #D7DBFF;
    }

    .Sidebar ul li svg{
        fill: currentcolor;
        width: 15px;
    height: 15px
    }

    .Sidebar ul li{
        display: flex;
        align-items: center;
        padding-bottom:7%;
    }

    .Sidebaronenumber ul li{
        display: flex;
        align-items: center;
        padding-bottom: 9%;
    }
    
    @media (max-width:1007px) {
        .SiteFooterend p {
            display: none;
        }
        .SiteFooterend{
            justify-content: center;
        }
    }
    
    @media (max-width:1291px) {
        .Sidebar {
            padding-top: 5%;
        }
        .Sidebaronenumber{
            padding-top: 5%;
        }

        .Sidebar1{
            
        }

        

        
    }