.OurGallery {
    padding-top: 229px;
    margin: auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.OurGallery div h5 {
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    
    /* identical to box height, or 20px */
    color: #FF64AE;
    margin: 0;
}

.OurGallery div h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    /* or 45px */
    color: #091156;
    width: 100%;
}

.OurGallery p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    padding-top: 1%;
    letter-spacing: 0.1em;
    color: #8B8B8B;
    
}

.OurGalleryimg img {
    
    padding-top: 3%;
}

.OurGalleryimg {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding-top: 3%;
}

.OurGalleryimg p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    
    letter-spacing: 0.1em;
    color: #8B8B8B;
    margin-top: 66px;
}

 .OurGalleryimgp span {
    color: #091156;
}

.BackgroundMask {
    background-image: linear-gradient(180deg, #050e5991 0%, #050e5991 100%), url(../../aces/Img/unsplash_eflLpWC1Geo.png);
    display: flex;
    align-items: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
}

.BackgroundMaskone{
    width: 80%;
    text-align: center;
}

.BackgroundMaskone p{
   color: #CACACA;
   padding-top: 1%;
}



.BackgroundMask img {
    width: 127px;
    height: 127px;
    margin-top: 41px;
    margin-bottom: 18%;
}

.BackgroundMask h1 {
    height: 51px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 125%;
    /* or 45px */
    text-align: center;
    color: #FFFFFF;
    margin-top: 17%;
}

.OurGalleryimgp {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 80%;
    margin: auto;
    letter-spacing: 0.1em;
    color: #CACACA;
    padding-top: 6%;
    padding-bottom: 6%;
}


@media (max-width:889px) {
    .OurGalleryimg img {
    
        margin: auto;
    }
}