.Blog h5{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
text-align: center;
margin: 0;
color: #FF64AE;
padding-bottom: 1%;
}

.Blog h1{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 36px;

text-align: center;
padding-bottom: 1.5%;
color: #091156;

}

.Blog p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
text-align: center;
letter-spacing: 0.1em;

color: #8B8B8B;

}

.Blog{
    width: 80%;
    margin: auto;
    padding-top: 9%;
}

.Blogitemall{
    width: 80%;
    margin: auto;
    padding-top: 8%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.Blogitem img{
    width: 100%;
    padding-bottom: 13%;
}


.Blogitem{
    width: 344px;
    background: #FFFFFF;
box-shadow: 0px 25px 50px 5px #F6F7FF;
border-radius: 25px;
margin-top: 4%;
}


.Blogitemconten{
    width: 85%;
    margin: auto;
    padding-bottom: 17%;
}

.Blogitemconten h1{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 18px;
color: #091156;
margin: 0;
padding-bottom: 3%;
}

.Blogitemconten p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
letter-spacing: 0.1em;
padding-bottom: 6%;
color: #8B8B8B;
}

.Blogitemconten h6{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 14px;
margin: 0;
padding-bottom: 3.5px;
color: #FF64AE;
}

.Learn{
    display: flex;
    align-items: center;
    color: #FF64AE;

}

.Learn span{
    padding-left: 11px;
}

@media (max-width:1310px) {
    .Blogitem{
        width: 100%;
    }

    .Blogitem h1{
        font-size: 30px;

    }
}

@media (max-width:1150px) {
    
}