.ContactUs {  
    margin-top: 7%;
    background-image: url(../../aces/Img/Background\ Bubble-1.png);
    background-repeat: no-repeat;
}

.ContactUsitem{
    display: flex;
    align-items: center;
    width: 80%;
    margin: auto;
    justify-content: space-between
}

.ContactForm h3 {
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    
    /* identical to box height, or 20px */
    color: #FF64AE;
}

.ContactForm{
    width: 40%;
}

.ContactForm h4 {
   
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    
    /* or 45px */
    color: #091156;
    margin: 0;
}

.ContactForm h6 {
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    
    letter-spacing: 0.1em;
    color: #8B8B8B;
    margin-top: 1%;
}

.Rectangle2 {
    border-radius: 15px;
    border: 1px solid #D9DDFE;
    outline: none;
    
    margin-bottom: 8%;
    padding: 4%;
    width: 91%;
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.1em;
color: #C5C5C5;
}

.Rectangle1 {
    border-radius: 15px;
    padding: 4%;
    border: 1px solid #D9DDFE;
    width: 38%;
    margin-bottom: 20px;
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.1em;
color: #C5C5C5;
}

.NameInput {
    display: flex;
    justify-content: space-between;
    width: 99%;
    
}

.Rectangle3 {
    height: 150px;
    border-radius: 15px;
    border: 1px solid #D9DDFE;
    width: 89%;
    height: 239.47px;
    padding: 5%;
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.1em;

color: #C5C5C5;

}

.SendMessage {
    margin-top: 54px;
    width: 50%;
}

.ContactAnimations img {
    
}

@media (max-width:1020px) {
    .ContactAnimations {
        display: none;
    }

    .ContactForm{
        width: 100%;
    }
}