.Aboutnew {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    padding-top: 10%;
    align-items: center;
}

.Aboutnew h5{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
color: #FF64AE;
margin: 0;
padding-bottom: 2%;
}

.Aboutnew h1{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 36px;
color: #091156;
padding-bottom: 2%;

}

.Aboutnew p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.1em;
padding-bottom: 4%;
color: #8B8B8B;

}

.AboutUs{
    width: 40%;
}

.iAboutmg{
    width: 50%;
}

.iAboutmg img{
    width: 100%;
}


@media (max-width:1270px){
    .iAboutmg{
        width: 100%;
    }

    .AboutUs{
        width: 100%;
        text-align: center;
        padding-top: 2%;
    }

    .Aboutnew{
        flex-direction: column;
    }
}